.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid whitesmoke;
  color: #545455;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  width: auto;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  align-items: center;
  flex: 0.7;
  background-color: #eaf1fb;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  box-sizing: border-box;
}

.header__middle > .MuiSvgIcon-root {
  color: #545455;
}

.header__middle > input {
  border: none;
  width: 100%;
  padding: 0 10px;
  background-color: transparent;
  outline: none;
  font-size: large;
}

.header__middle > svg {
  cursor: pointer;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 5px;
}
